<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asignaturas 📚</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar una asignatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Nombre de la asignatura</ion-label>
        <ion-input [(ngModel)]="nuevaAsignatura"></ion-input>
      </ion-item>

      <ion-button expand="block" color="success" class="ion-margin-top" (click)="agregarAsignatura()">
        Guardar Asignatura ✅
      </ion-button>
    </ion-card-content>
  </ion-card>

  <h2 class="ion-margin-top">Asignaturas Registradas</h2>

  <ion-list *ngIf="asignaturas.length > 0">
    <ion-item *ngFor="let asig of asignaturas; let i = index">
      <ion-label>{{ asig }}</ion-label>
      <ion-button fill="clear" color="danger" slot="end" (click)="eliminarAsignatura(i)">
        🗑️
      </ion-button>
    </ion-item>
  </ion-list>

  <p *ngIf="asignaturas.length === 0">📭 Aún no has agregado asignaturas.</p>

  <ion-button expand="block" color="medium" class="ion-margin-top" (click)="volverMenu()">
  ⬅️ Volver al Menú
  </ion-button>


  <div class="anim-asignaturas">
    <ng-lottie [options]="animacionAsignaturas" style="width:150px; height:150px;"></ng-lottie>
  </div>




</ion-content>
