<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resumen 📚</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div class="anim-container">
  <ng-lottie [options]="animacion"></ng-lottie>
</div>

<h2>Bienvenido/a, <strong>{{ usuario }}</strong> 👋</h2>
<p><strong>Tu contraseña:</strong> {{ password }}</p>

<h2 class="ion-margin-top">Recordatorios Guardados</h2>

<ion-list *ngIf="recordatorios.length > 0">
  <ion-item *ngFor="let rec of recordatorios">
    <ion-label>
      <h3>{{ rec.fecha }}</h3>
      <p><strong>{{ rec.materia }}</strong> — {{ rec.descripcion }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<p *ngIf="recordatorios.length === 0">
  📭 No hay recordatorios guardados aún.
</p>



</ion-content>
