.home-content {
  text-align: center;
}

.anim-container {
  width: 250px;
  margin: 0 auto 20px auto;
}

.titulo {
  font-size: 28px;
  font-weight: bold;
}

.subtitulo {
  font-size: 16px;
  opacity: .7;
  margin-bottom: 20px;
}
